{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Book Management{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well" id="welcome-words">
			<h3 class="text-center">Yet another eBook library built with &hearts; for Guokr.</h3>
			<p class="text-center">Wanna say something? Contact <a href="mailto:ailurus.chow@gmail.com?Subject=报告大王，我有话要说。" >me</a> without hesitation.</a></p>
		</div>
	</div>
</div>

{% endblock %}
